black==23.7.0
flake8==6.0.0
pandas==1.5.3
pre-commit==3.3.3
gtfs-realtime-bindings==1.0.0
pytz==2022.7
prefect_gcp[cloud_storage]==0.4.5
prefect==2.11.4
pyarrow==13.0.0
google-cloud-bigquery==3.11.4
pip-tools==7.3.0
requests==2.31.0
google-api-core==2.11.1
google-api-python-client==2.97.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.60.0
polars==0.19.2
streamlit-folium==0.13.0
streamlit==1.26.0
folium==0.14.0
